body {
  background: #eee;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 960px;
}

nav {
  background: #333;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: #fff;
  text-align: center;
  display: block;
  padding: 10px;
}

nav a:hover {
  background-color: #555;
}

a.tw {
  background-image: url(img/tw.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
}

a.fb {
  background-image: url(img/fb.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
}

.social a {
  text-indent: -10000px;
}

.social {
  max-width: 80px;
  margin: 0 auto;
}

nav ul.social {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  display: flex;
}

nav ul.social li {
  flex: 1 1 0;
}

@media screen and (min-width:768px) {
  nav ul {
    display: flex;
    justify-content: flex-start;
    margin: 0;
  }
  nav li {
    flex: 1 1 0;
  }
  nav {
    display: flex;
    justify-content: space-between;
  }
  .social {
    margin: 0;
  }
}
