body {
  background-color: #eee;
}

.wrapper {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.flex-container {
  background: #fff;
  display: flex;
  flex-wrap: wrap;
}

.box {
  height: 100px;
  flex-grow: 1;
  flex-basis: 400px;
  flex-shrink: 0;
}

.one {
  background-color: red;
}

.two {
  background-color: blue;
}

.three {
  background-color: green;
}
